.table-container {
    display: flex;
    flex-direction: column;
    .table-wrapper {
        width: 120px;
        height: 120px;
        position: relative;
        display: flex;
        place-content: center;
    
        .chair {
            position: absolute;
            border-radius: 10px;
            width: 36px;
            height: 36px;
        }
        .chair-1 {
            @extend .chair;
            left: 0;
            bottom: 0;
            top: 0;
            margin-top: auto;
            margin-bottom: auto;
        }
        .chair-2 {
            @extend .chair;
        }
    
        .chair-3 {
            @extend .chair;
            right: 0;
            bottom: 0;
            top: 0;
            margin-top: auto;
            margin-bottom: auto;
        }
    
        .chair-4 {
            @extend .chair;
            bottom: 0;
        }
    
        .table {
            height: 80%;
            width: 80%;
            overflow: hidden;
            border: none;
            margin: auto;
            z-index: 2;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 2px;
        }
        .time-remain {
            height: auto;
            width:100%;
            background-color: #eef6f7;
            z-index: 2;
        }
        .time-used {
            width:100%;
            background-color:#c6e3f4;
            border-top: 3px solid #c6e3f4;
            z-index: 2;
        }
        .circle {
            border-radius: 100%;
        }
    
        .table-name {
            position: absolute;
            left: 0;
            right: 0;
            width: fit-content;
            top: 0;
            bottom: 0;
            height: fit-content;
            z-index: 3;
            font-size: 30px;
            margin: auto;
            font-weight: 700;
        }
    }
} 